<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
{% extends "homepage.html" %}
<body>
	{% block content %}
        <h1>Burgers</h1>
	{% endblock %}

	{% block maincontent %}
	<dl>
		<dt>Mcdonalds</dt>
		<dd>By far the most popular choice when it comes to a quick and tasty burger while also being low cost. McDonald's has more than 1,270 restaurants in the UK and employs more than 120,000 people who work together to combine great tasting food.</dd>
		<dt>Five Guys</dt>
		<dd>Five Guys are known for their massive portion sizes and tasty burgers and fries. There are 156 Five Guys stores in the United Kingdom as of October 07, 2022. The country with the most number of Five Guys locations in the UK is England, with 138 stores, which is about 88% of all Five Guys stores in the UK.</dd> 
		<dt>Burger King</dt>
		<dd>Burger King is the main competitor to Mcdonalds as they provide similar products. There are 510 Burger King stores in the United Kingdom as of November 11, 2022.</dd>
	</dl>
	{% endblock %}
</body>

</html>
