<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
{% extends "homepage.html" %}
<body>
	{% block content %}
        <h1>Chinese</h1>
	{% endblock %}

	{% block maincontent %}
	<dl>
		<dt>Tattu Edinburgh</dt>
		<dd>With a smart dress code and a lavish ceiling of cherry blossoms, Tattu is a more elevated Chinese restaurant in Edinburgh, with sleek decor blending contemporary and traditional designs. This is a great place for a date night or a special celebration in Edinburgh.</dd>
		<dt>Rendezvous</dt>
		<dd>Established in 1956, this is one of Edinburgh’s original Chinese restaurants. Located in the West End of town, set business lunches and a VIP room are available to book. This is a lovely spot for dinner.</dd> 
		<dt>Noodles Home</dt>
		<dd>This upstairs restaurant on Nicholson Street specializes in classic Lanzhou noodle soups, with options for hand-pulled noodles of various widths.</dd>
	</dl>
	{% endblock %}
</body>
</html>
