<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>

<body>
        <h1>Homepage</h1>
        <nav>
                <ul>
                        <li>
                                <a href="favourites.html">Favourites</a>
                        </li>
                        <li>
                                <a href="burgers.html">Burgers</a>
                        </li>
                        <li>
                                <a href="italian.html">Italian</a>
                        </li>
                        <li>
                                <a href="chinese.html">Chinese</a>
                        </li>
                        <li>
                                <a href="indian.html">Indian</a>
                        </li>
                        <li>
                                <a href="contactus.html">Contact Us</a>
                        </li>
                        <li>
                                <a href="login.html">Log In</a>
                        </li>
			<li>
				<a href="signup.html">Sign Up</a>
			</li>
                </ul>
        </nav>

</body>

</html>
