<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
{% extends "homepage.html" %}
<body>
	{% block content %}
        <h1>Indian</h1>
	{% endblock %}
	{% block maincontent %}
	<dl>
		<dt>The Pakora Bar</dt>
		<dd>The Pakora Bar is considered one of the top restaurants in Edinburgh - let alone Indian restaurants. This family run establishment in Hanover Street is famed for its delicious Punjabi street food, sometimes with a Scottish edge.	</dd>
		<dt>Pataka</dt>
		<dd>Considered one of the top 10 Indian restaurants in Scotland, Pataka is not to be missed. Crime writer Ian Rankin is a regular customer here, and the Causewayside restaurant has even featured in two of his novels. </dd> 
		<dt>Voujon</dt>
		<dd>Voujon in Newington Road specialises in North Indian and Bengali cuisine - which involves a lot of delicious vegetarian and fish-based dishes.		</dd>
	</dl>
	{% endblock %}


</body>
</html>
