<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
{% extends "homepage.html" %}
<body>
	{% block content %}
        <h1>Italian</h1>
	{% endblock %}

	{% block maincontent %}
	<dl>
		<dt>Bella Italia</dt>
		<dd>Bella Italia is British high street staple. With a recognisable image and more than 40 years of industry experience, Bella Italia is a hugely popular brand among franchisees. Customers flock to the restaurant for its delicious hand-stretched pizza and De Cecco pasta, which is made using high-quality grains and imported directly from Italy. 
		</dd>
		<dt>Pizza Hut</dt>
		<dd>Pizza Hut is one of the most popular restaurants when it comes to pizza. They have both restaurants and delivery units providing italian pizza to people allover the UK. There are 553 Pizza Hut stores in the United Kingdom.	     </dd> 
		<dt>Zizzi</dt>
		<dd>Zizzi is a chain of restaurants providing dishes inspired by Italian cuisine in the United Kingdom. It has opened more than 140 restaurants across the UK. It offers signature Rustica pizzas are hand stretched to make a bigger, thinner and crispier base and then loaded with inspired topping combinations. 
		</dd>
	</dl>
	{% endblock %}
</body>
</html>
